In [1]:
from pandas.api.types import CategoricalDtype
import pandas as pd

In [2]:

df = pd.read_csv('../../data/raw/sleep_cycle_productivity.csv')
df.head(5)

,Date,Person_ID,Age,Gender,Sleep Start Time,Sleep End Time,Total Sleep Hours,Sleep Quality,Exercise (mins/day),Caffeine Intake (mg),Screen Time Before Bed (mins),Work Hours (hrs/day),Productivity Score,Mood Score,Stress Level
0,2024-04-12,1860,32,Other,23.33,4.61,5.28,3,86,87,116,8.808920,8,3,6
1,2024-11-04,1769,41,Female,21.02,2.43,5.41,5,32,21,88,6.329833,10,3,7
2,2024-08-31,2528,20,Male,22.10,3.45,5.35,7,17,88,59,8.506306,10,9,10
3,2024-02-22,8041,37,Other,23.10,6.65,7.55,8,46,34,80,6.070240,8,4,2
4,2024-02-23,4843,46,Other,21.42,4.17,6.75,10,61,269,94,11.374994,8,7,9

In [3]:
df.drop(['Person_ID','Caffeine Intake (mg)'], axis=1, inplace=True)
df.head(5)

,Date,Age,Gender,Sleep Start Time,Sleep End Time,Total Sleep Hours,Sleep Quality,Exercise (mins/day),Screen Time Before Bed (mins),Work Hours (hrs/day),Productivity Score,Mood Score,Stress Level
0,2024-04-12,32,Other,23.33,4.61,5.28,3,86,116,8.808920,8,3,6
1,2024-11-04,41,Female,21.02,2.43,5.41,5,32,88,6.329833,10,3,7
2,2024-08-31,20,Male,22.10,3.45,5.35,7,17,59,8.506306,10,9,10
3,2024-02-22,37,Other,23.10,6.65,7.55,8,46,80,6.070240,8,4,2
4,2024-02-23,46,Other,21.42,4.17,6.75,10,61,94,11.374994,8,7,9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           5000 non-null   object
 1   Age                            5000 non-null   int64
 2   Gender                         5000 non-null   object
 3   Sleep Start Time               5000 non-null   float64
 4   Sleep End Time                 5000 non-null   float64
 5   Total Sleep Hours              5000 non-null   float64
 6   Sleep Quality                  5000 non-null   int64
 7   Exercise (mins/day)            5000 non-null   int64
 8   Screen Time Before Bed (mins)  5000 non-null   int64
 9   Work Hours (hrs/day)           5000 non-null   float64
 10  Productivity Score             5000 non-null   int64
 11  Mood Score                     5000 non-null   int64
 12  Stress Level                   5000 non-null   int64
dtypes: float64(4), int64(7), object(2)
memory usage: 507.9+ KB

In [5]:
df.loc[df['Gender'] == 'Female', 'Gender'] = '0'
df.loc[df['Gender'] == 'Male', 'Gender'] = '1'
df.loc[df['Gender'] == 'Other', 'Gender'] = '2'


# 연속형 -> 순서형 
ordered_score = CategoricalDtype(categories=list(range(1, 11)), ordered=True)

# 적용
df['Sleep Quality'] = df['Sleep Quality'].astype(ordered_score)
df['Productivity Score'] = df['Productivity Score'].astype(ordered_score)
df['Mood Score'] = df['Mood Score'].astype(ordered_score)
df['Stress Level'] = df['Stress Level'].astype(ordered_score)

#날짜 -> 요일 변경 
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Weekday'] = df['Date'].dt.day_name()

In [6]:
print(df['Sleep Quality'].dtype)
print(df['Sleep Quality'].head(5))

print(df['Productivity Score'].head(5))
print(df['Mood Score'].head(5))
print(df['Stress Level'].head(5))

category
0     3
1     5
2     7
3     8
4    10
Name: Sleep Quality, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]
0     8
1    10
2    10
3     8
4     8
Name: Productivity Score, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]
0    3
1    3
2    9
3    4
4    7
Name: Mood Score, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]
0     6
1     7
2    10
3     2
4     9
Name: Stress Level, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]

In [7]:
print(df['Age'].min())
print(df['Age'].max())

18
59

In [8]:
df['Age'] = (df['Age'] // 10) * 10

In [9]:
df['Age'].value_counts()

Age
50    1235
40    1171
20    1164
30    1163
10     267
Name: count, dtype: int64

In [10]:
output_file_path = '../../data/processed/sleep_cycle_productivity_cleaned.csv'
df.to_csv(output_file_path, index=False, encoding='euc-kr')